<div class="container">
  <app-create-todo-form (onFormSubmitEvent)="handleCreateTodo($event)"></app-create-todo-form>

  <mat-list role="list" *ngIf="todos$ | async as todos; else loading">
    <app-todo
      [todo]="todo"
      (onDeleteTodo)="handleDeleteTodo($event)"
      (onUpdateTodo)="handleUpdateTodo($event)"
      *ngFor="let todo of todos"
    >
    </app-todo>
  </mat-list>
</div>

<ng-template class="loading" #loading>
  <mat-card>
    <span>Loading TODOs</span>
    <mat-spinner></mat-spinner>
  </mat-card>
</ng-template>
